/*COLOR*/
$back: linear-gradient(88.65deg, #0B0A36 1.4%, #090A36 26.85%, #080935 55.86%, #0A0A36 91.48%)

/*FONT-FACE*/ 
@font-face
  font-family: 'Oswald'
  font-weight: 300
  src: local('Oswald'), url("./fonts/Oswald-Light.ttf")

@font-face
  font-family: 'Oswald'
  font-weight: 400
  src: local('Oswald'), url("./fonts/Oswald-Regular.ttf")

@font-face
  font-family: 'Oswald'
  font-weight: 500
  src: local('Oswald'), url("./fonts/Oswald-Medium.ttf")

@font-face
  font-family: 'Oswald'
  font-weight: 600
  src: local('Oswald'), url("./fonts/Oswald-SemiBold.ttf")

@font-face
  font-family: 'Oswald'
  font-weight: 700
  src: local('Oswald'), url("./fonts/Oswald-Bold.ttf")

  @font-face
    font-family: 'Montserrat'
    font-weight: 300
    src: local('Montserrat'), url("./fonts/Montserrat-Light.ttf")

@font-face
  font-family: 'Montserrat'
  font-weight: 400
  src: local('Montserrat'), url("./fonts/Montserrat-Regular.ttf")

@font-face
  font-family: 'Montserrat'
  font-weight: 500
  src: local('Montserrat'), url("./fonts/Montserrat-Medium.ttf")

@font-face
  font-family: 'Montserrat'
  font-weight: 600
  src: local('Montserrat'), url("./fonts/Montserrat-SemiBold.ttf")

@font-face
  font-family: 'Montserrat'
  font-weight: 700
  src: local('Montserrat'), url("./fonts/Montserrat-Bold.ttf")

*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  min-height: 100vh
  position: relative
  overflow-x: hidden

  background: radial-gradient(39.32% 82.34% at 77.4% 0%, #076B91 0%, rgba(7, 100, 138, 0.85) 11.14%, rgba(7, 86, 126, 0.79) 26.8%, rgba(8, 74, 113, 0.6) 52.36%, rgba(8, 44, 85, 0.61) 68.45%, rgba(9, 13, 56, 0) 100%), radial-gradient(33.07% 90.49% at 1.15% 100%, #07347A 0%, #090C39 55.21%, #090D38 79.7%, #090E39 92.19%)

  font-family: 'Oswald'
  color: #fff
